<div  class="card" style="width: 18rem; float: left; clear: none; margin:25px; height: 400px; width: 300px;">
        <a routerLink="/product-description" style="padding: 10px;"><img [src]="item.imageUrl" class="card-img-top"></a> 
         <div class="card-body">
           <h5 class="card-title">{{item.title| uppercase}}</h5>
           <p class="card-text">{{item.description}}</p>
           <h6>Price : $ {{item.price}}</h6>
 
           <button class="btn btn-secondary" [routerLink]="['add-product', item.id]">Update</button>
           <button class="btn btn-primary mx-4" [disabled]="item.isAvailable">Add to cart</button>
         </div>
       </div>
